.tabs-component {
	.tabs li {
		margin: 0 !important;
	}
	max-width: 100%;
	.tabs {
		display: flex;
		list-style-type: none;
		list-style-image: none;
		margin-top: 12px;
		margin-left: 16px;
		margin-right: 16px;
		.tab {
			display: block;
			padding: 10px 18px;
			border-radius: 4px 4px 0 0;
			font-weight: 600;
			background-color: #8e8e8e;
			color: #1d1c1d;
			box-shadow: inset 0 4px 1px -2px #c5c5c5, inset 0 4px 1px -2px #888, inset 0 -4px 1px -2px #2d2d2d, inset 4px 0 1px -2px #7a7a7a, inset -4px 0 1px -2px #372f2a;
			&:hover {
				text-decoration: none;
				background-color: #e39827;
				box-shadow: inset 0 4px 1px -2px #d4c5ae, inset 0 4px 1px -2px #cf994b, inset 0 -4px 1px -2px #4a300c, inset 4px 0 1px -2px #8b6325, inset -4px 0 1px -2px #4a300c, 0 0 8px #e39827;
				position: relative;
			}
			&.active {
				background-color: #313031;
				box-shadow: inset 0 4px 1px -2px #686665, inset 4px 0 1px -2px #201815, inset -4px 0 1px -2px #262220, 0 6px 4px #313031, 0 0 4px #101010;
				color: #ffe6c0;
				position: relative;
				z-index: 1;
				&:hover {
					text-decoration: underline;
				}
			}
			i {
				margin-right: 8px;
			}
		}
	}
}