input,
input[type=text],
input[type=password],
input[type=email],
input[type=url],
textarea,
select,
.input-component {
	vertical-align: baseline;
	font-family: inherit;
	line-height: 1.2;
	font-size: 105%;
	height: 36px;
	max-width: 100%;
	background: #8e8e8e;
	border-radius: 4px;
	padding: 6px;
	border: none;
	box-shadow: inset 0 4px 1px -2px #000, inset 0 -4px 1px -2px #c5c5c5, inset 2px 0 1px 0 #5f5f5f, inset -2px 0 1px 0 #5f5f5f, inset 0 -2px 2px 0 #5f5f5f, 0 0 4px 1px #2e2521;
	&:focus {
		outline: none;
		background: #f0dab4;
		box-shadow: inset 0 4px 2px -2px #000, inset 0 -1px 1px 0 #74624b, inset 0 -4px 2px -2px #e0e0e0, inset 2px 0 2px 0 #a6885c, inset -2px 0 2px 0 #a6885c, 0 0 4px 1px #2e2521;
	}
}