// margins and paddings from 0 to 100 with step 4
@for $i from 0 to 25 {
	$size: $i*4;
	.mt#{$size} {
		margin-top: #{$size}px;
	}
	.mb#{$size} {
		margin-bottom: #{$size}px;
	}
	.ml#{$size} {
		margin-left: #{$size}px;
	}
	.mr#{$size} {
		margin-right: #{$size}px;
	}
	.mtb#{$size} {
		margin-top: #{$size}px;
		margin-bottom: #{$size}px;
	}
	.mlr#{$size} {
		margin-left: #{$size}px;
		margin-right: #{$size}px;
	}
	.m#{$size} {
		margin: #{$size}px;
	}

	.pt#{$size} {
		padding-top: #{$size}px;
	}
	.pb#{$size} {
		padding-bottom: #{$size}px;
	}
	.pl#{$size} {
		padding-left: #{$size}px;
	}
	.pr#{$size} {
		padding-right: #{$size}px;
	}
	.ptb#{$size} {
		padding-top: #{$size}px;
		padding-bottom: #{$size}px;
	}
	.plr#{$size} {
		padding-left: #{$size}px;
		padding-right: #{$size}px;
	}
	.p#{$size} {
		padding: #{$size}px;
	}
}

// width and height from 10 to 1000 with step 10
@for $i from 1 to 100 {
	$size: $i*10;
	.w#{$size} {
		width: #{$size}px;
		min-width: #{$size}px;
	}

	.h#{$size} {
		height: #{$size}px;
		min-height: #{$size}px;
	}
}