.panel-component {
	background-color: #313031;
	box-shadow:
		inset 2.8px 0px 2px -2px #201815,
		inset 0 2.8px 2px -2px #8f8c8b,
		inset -2.8px 0 1.2px -1.5px #201815,
		inset 0 -2.8px 2px -2px #000,
		0 0 3px 0 #201815;
	&.lighter {
		background-color: #414040;
	}
	&.darker {
		background-color: #242324;
	}
	&.inset {
		box-shadow:
			inset 0 0 3px 0 #000,
			0 -2px 2px -1px #000,
			-2px 0 1.5px -1.5px #28221f,
			2px 0 1.5px -1.5px #28221f,
			0 2.7px 2px -2px #8f8c8b;
		&.small {
			box-shadow:
				inset 0 2px 2px -1px #000,
				inset 0 0 2px 0 #181616,
				inset 0 -2px 2px -2px #fff,
				0 0 2px 0 #2b2b2b;
		}
	}
	&.combined {
		padding: 2px;
		box-shadow:
			inset 0 2px 2px -1px #000,
			inset 0 0 2px 0 #181616,
			inset 0 -2px 2px -2px #fff,
			0 0 2px 0 #2b2b2b;
		& > div {
			padding: 10px;
			box-shadow:
				0 1.5px 2px -1px #000,
				0 0 2px 0 #181616,
				0 -1px 2px -1px #fff,
				inset 0 0 2px 0 #2b2b2b;
		}
	}
}